---
permalink: /outreach/
title: "Outreach"
author_profile: true
redirect_from: 
  - /outreach.html
---

Under construction

In the past I participated in the Pint of Science Groningen 2024, Researchers' Night Jyväskylä 2023 & 2022, Scientific Speed-dating in Biology 2020 in Fribourg, Pint of Science Zurich 2019, Scientific Speed-dating in Biology 2018 Conference in Bern, and tutored with the Girls' Programming Network (GPN) in Sydney. I will talk about some of them below.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
